.heading_div{
    float: none;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow:5px 5px 5px  black;
    width: 100%;
}
.heading_div2
{
    font-size: 18px;
}

.result_tag{
    box-shadow: 8px 10px 9px green;
}

.copy_footer{
color: sienna;
background-color: sandybrown;
text-align: center;
bottom: 0;
line-height: 3;
width: 100%;
position: fixed;

}




canvas {
    border: 3px solid black;
    border-radius: 45px;
    box-shadow: 4px 4px 5px black;
    margin-top: 270px;
}